<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
    <img class="navbar-brand" src="http://www.clker.com/cliparts/G/5/8/9/y/b/apple-core-md.png">
      <a class="navbar-brand" href="<%=new_movie_path%>">RottenApples</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="<%=movies_path%>">Home</a></li>
      <li><a href="<%=new_movie_path%>">Submit A Movie</a></li>
      <li><div id="search"><%= render 'movies/search_bar' %></div></li>
    </ul>


     <li class="nav navbar-nav navbar-right">
      <% if current_user %>
      <%= link_to "Log out", session_path("current"), method: :delete %>)
      <% else %>
       <%= link_to "Log In", new_session_path %> 
      <% end %></li>
</nav>